In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor

In [3]:
train = pd.read_csv("train_preprocessed.csv")
test = pd.read_csv("test_preprocessed.csv")
sample = pd.read_csv("sample_submission.csv")

In [4]:
train_X = train.drop(columns=['User_ID','Purchase','Product_ID'])

In [5]:
train_X

,Gender_F,Gender_M,City_Category_A,City_Category_B,City_Category_C,Age,Occupation,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Marital_Status
0,1,0,1,0,0,-2.370632,0.294486,0.109989,-0.610134,-0.294215,0
1,1,0,1,0,0,-2.370632,0.294486,0.109989,-1.125843,-0.759177,0
2,1,0,1,0,0,-2.370632,0.294486,0.109989,1.710556,-0.294215,0
3,1,0,1,0,0,-2.370632,0.294486,0.109989,1.710556,1.100672,0
4,0,1,0,0,1,1.909095,1.214421,1.661833,0.679138,-0.294215,0
...,...,...,...,...,...,...,...,...,...,...,...
550063,0,1,0,1,0,1.725020,0.754454,-0.665933,3.773391,-0.294215,1
550064,1,0,0,0,1,-0.345815,-1.085416,0.885911,3.773391,-0.294215,0
550065,1,0,0,1,0,-0.345815,1.061099,1.661833,3.773391,-0.294215,1
550066,1,0,0,0,1,1.909095,-1.085416,0.109989,3.773391,-0.294215,0
550067,1,0,0,1,0,1.264835,-1.238738,1.661833,3.773391,-0.294215,1

In [6]:
train_y = train['Purchase']

In [7]:
train_y

0          8370.0
1         15200.0
2          1422.0
3          1057.0
4          7969.0
           ...
550063      368.0
550064      371.0
550065      137.0
550066      365.0
550067      490.0
Name: Purchase, Length: 550068, dtype: float64

In [8]:
test_X = test.drop(columns = ['Purchase','User_ID','Product_ID'])

In [9]:
def model_fit(model, train_X, train_y, test_X,sample_sub,filename):
    model.fit(train_X, train_y)
    train_pred = np.abs(model.predict(train_X))
    print("Train RMSE : ",mean_squared_error(train_y,train_pred, squared=False))
    test_pred = model.predict(test_X)
    sample['Purchase'] = np.abs(test_pred)
    sample.to_csv(filename, index = False)
    return mean_squared_error(train_y, train_pred, squared=False)

In [10]:
model = [LinearRegression(), Ridge(), Lasso(), ElasticNet(), KNeighborsRegressor()]

In [11]:
for i in model:
    print(i)
    model_fit(i, train_X, train_y, test_X, sample, str(i)[:-2]+".csv")

LinearRegression()
Train RMSE :  4695.872670193051
Ridge()
Train RMSE :  4695.870483642187
Lasso()
Train RMSE :  4695.872769863542
ElasticNet()
Train RMSE :  4732.6962916378025
KNeighborsRegressor()
Train RMSE :  3005.6754079655407

In [ ]:
res = []
for i in range(1,10):
    model = KNeighborsRegressor(n_neighbors=i)
    print(i)
    err = model_fit(model, train_X, train_y, test_X, sample, str(i)+"KNN.csv")
    res.append(err)

1
Train RMSE :  3652.3903439754267
2
Train RMSE :  3177.012975981221
3
Train RMSE :  3050.772554057362
4
Train RMSE :  3012.6015686666415